.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 21px;
    padding-bottom: 29px;
    background: #fff;
}
.header-wrap {
    margin-bottom: 0;
}
.nav__lists {
    margin-top: 16px;
}
.nav__list--margin-top {
    margin-left: 0;
    margin-right: 36px;
    margin-top: 6px;
}
.logo__title {
    color: #545454;
}
.logo__subtitle {
    color: #292929;
}
.nav__link {
    color: #545454;
}
.nav__link--active {
    color: #292929;
}
.nav__link:hover {
    color: #292929;
}
//our friends
.our-friends {
    padding-top: 201px;
}
.slider {
    flex-wrap: wrap;
    margin-bottom: 59px;
}
.slider__items {
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 0;
}
.slider__items:nth-child(8) {
    margin-right: 0;
    margin-bottom: 0;
}
.slider__items:nth-child(7) {
    margin-bottom: 0;
}
.slider__items:nth-child(6) {
    margin-bottom: 0;
}
.slider__items:nth-child(5) {
    margin-bottom: 0;
}
.slider__items:nth-child(4) {
    margin-right: 0;
}

.our-friends__pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}
.our-friends__pagination__button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-family: Georgia;
    font-size: 20px;
    color: #292929;
    letter-spacing: 1px;
    line-height: 1;
    outline: none;
    transition: all .7s;
    
}
.our-friends__pagination__items {
    margin-right: 20px;
}
.our-friends__pagination__items:last-child {
    margin-right: 0;
}
.our-friends__pagination .disabled {
    font-family: Georgia;
    font-size: 20px;
    color: #cdcdcd;
    letter-spacing: 1px;
    line-height: 1;
    border: 2px solid #cdcdcd;
    cursor: default;
}
.our-friends__pagination .btn__pagin {
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
    cursor: pointer;
}
.our-friends__pagination .btn__pagin:hover {
    border: 2px solid #FDDCC4;
    background-color: #f6f6f6;
}
.our-friends__pagination .btn__nav {
    border: 2px solid #F1CDB3;
    background-color: #f6f6f6;
    cursor: pointer;
}
.our-friends__pagination .btn__nav:hover {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
}

@media (max-width: 768px) {
    .nav__list--margin:first-child {
        margin-right: 0;
        margin-top: 0;
    }
    .our-friends {
        padding-bottom: 75px;
    }
    .our-friends__title {
        margin-bottom: 29px;
    }
    .slider {
        flex-wrap: wrap;
        margin-bottom: 39px;
    }
    .slider__items:first-child {
        margin-left: 65px;
    }
    .slider__items:nth-child(2) {
        margin-right: 0;
    }
    .slider__items:nth-child(3) {
        margin-left: 65px;
    }
    .slider__items:nth-child(5) {
        margin-left: 65px;
    }
    .slider__items:nth-child(6) {
        margin-right: 0;
    }
    .slider__items:nth-child(8) {
        display: none;
    }
    .slider__items:nth-child(7) {
        display: none;
    }
    .footer {
        padding-top: 32px;
    }
    .nav__lists.visible {
        background-color: #fafafa;
    }
}
@media (max-width: 320px) {
    .our-friends {
        padding-top: 43px;
        padding-bottom: 41px;
    }
    .our-friends__title {
        margin-bottom: 41px;
    }
    .slider {
        margin-bottom: 11px;
    }
    .slider__items:nth-child(odd) {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .our-friends__pagination__items {
        margin-right: 9px;
    }
    .link-tel {
        margin-bottom: 36px;
    }
}